{% extends 'layouts/hero.html' %}
{% set pageName = "Manage Your Appointments Prototype Homepage" %}

{% block heroContent %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Manage Your Appointments</h1>
  <p class="nhsuk-body-l">Manage Your Appointments (MYA) is a service to help vaccinators create and manage appointments which can be booked on the National Booking Service (NBS).</p>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h2 class="nhsuk-heading-l nhsuk-u-margin-top-5">Get started</h2>
      {{ actionLink({
        text: "Start from the “sign in” page",
        href: "/login"
      }) }}

      <h3 class="nhsuk-heading-m">Documentation</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="/map">User journeys overview</a></li>
      </ul>

    </div>
    
  </div>
{% endblock %}
